.container {
  width: 60%;
  margin: 0 auto;
}

.add-button {
  display: block;
  margin-top: 12px;
  margin-bottom: 48px;
}

input {
  margin: 12px;
}

.bg-blue {
  background-color:cornflowerblue;
  padding: 6px 0 6px 0;
}

.input {
  width: 420px;
}

#multiselect::-webkit-calendar-picker-indicator { display: none !important; }

label {
  display: block;
}

nav li {
  display: inline-block;
  width: 75px;
  float: right;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.success {
  color: forestgreen;
}

.error {
  color: red;
}

/*@media only screen and (max-width: 992px) {*/

/*}*/
